<h1>Stupid Coaching</h1>
<div class='banner'>
  <p>*Question: <%= @question %> </p>
  <p class='user'>- You</p>
</div>
<div class='answer'>
  <p>*Answer: <%= @answer %></p>
  <p class='user'>* Your coach</p>
</div>

<%= link_to 'Ask another question', ask_path %>
